<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Index</title>
</head>
<body>
    <style>
        body {
            background-color: steelblue;
            color: blanchedalmond;
        }
        img {
            max-width: 500px;
            max-height: 500px;
        }
    </style>

    <h1>At foo bar</h1>
    <h2>Drink Name: <%= drinks.name %></h2>
    <img src=<%= drinks.image %> alt="Drink image">
    <h2>Drink Price: <%= drinks.price %></h2>
    <a href="./drinks_index.ejs">Go Back</a>

</body>
</html>